.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: black;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-top:hover {
  transform: scale(1.1);
  background-color: #00e065;
}
