.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  z-index: 1000;
  color:#01ff7c;
  border-bottom: 1px solid #185837;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.nav-links a {
  text-decoration: none;
  color: #01ff7c;
  font-size: 14px;
}

.nav-links a:hover {
  color: #fff;
}

.logo img {
  height: 40px;
  width: auto;
  cursor: pointer;
}