.footer {
  padding: 30px 20px;
  border-top: 1px solid #1a1a1a;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEXT */
.footer-text {
  font-size: 13px;
  color: #888;
}

/* ICON LINKS */
.footer-links {
  display: flex;
  gap: 18px;
}

.footer-links a {
  color: #888;
  font-size: 18px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #01ff7c;
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 12px;
  }
}
