* {
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  color:#01ff7c;
}

/* section {
  max-width: 800px;
  margin: auto;
} */

h1, h2 {
  margin-bottom: 10px;
}


html {
  scroll-behavior: smooth;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
}

.btn.primary {
  background: black;
  color: #01ff7c;
  border: 1px solid #01ff7c;
}

.btn:hover {
  background: #01ff7c;
  color: black;
  transform: scale(1.05);
}